{% extends "base.html" %}

{% block title %}Chordata | Sign up{% endblock %}

{% block nav %}
<ul>
  <li><a class="active" href="{% url 'homePage' %}">
    {% load static %}
      <img src="{% static '/graphics/home_eff1f7.png' %}" alt="Home" style="width:20px;"></img>
      <span class="tooltip">Home</span>
    </a>
  </li>
</ul>
{% endblock %}

{% block content %}
<h2>Sign Up</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign up</button>
</form>
{% endblock %}