<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Chordata Services Incorporated" />
  <title>{% block title %}Chordata Services{% endblock %}</title>
  {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'graphics/favicon.ico' %}"/>
</head>
<body>
  <nav>
    {% block nav %}{% endblock %}
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  <div>
  <hr class="opt1">
    <p style="font-size: 12px; text-align: center;">©2024 All rights reserved.</p>
    <p style="font-size: 12px; text-align: center;">Icons provided by <a href="https://www.flaticon.com">flaticon.com</a></p>
    <p style="font-size: 12px; text-align: center;">Images by TheDigitalArtist via <a href="https://www.pixabay.com/users/thedigitalartist-202249/">pixabay.com</a></p>

  </div>
</body>
</html>