/*
STYLE GUIDELINES
    COLORS:
        White
            --porcelain-050: #FCFDFD    
            --porcelain-075: #E1E6E8
        Grey
            --grey-010: #F8F9FA;
            --grey-010: #E9ECEF;
            --grey-010: #DEE2E6;
            --grey-010: #CED4DA;
            --grey-010: #ADB5BD;
            --grey-010: #6c757d;
            --grey-010: #495057;
            --grey-010: #343A40;
            --grey-010: #212529;

        Black
        Blue
            --blue-010: #99DCF3;
            --blue-020: #00A7E1;*
            --blue-030: #0086b4;
            --blue-040: #006487;
            --blue-040: #667c88;
            --blue-060: #335161;
            --blue-080: #002539;*
        Green





*/


body, h1, h2, h3, h4, h5, h6, p {
    font-family: Verdana, Tahoma, sans-serif;
    color: #002539;
  }

body {
    background-color: #EFF1F7; 
  }

a{
    color: #002539;
    text-decoration: none;
  }
a:hover{
  visibility: visible;
  color:#0086B4;
  }
a:not([href]):not([class]),a:not([href]):not([class]):hover{
    color:inherit;
    text-decoration: none;
  }

/*Navigation*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #002539;
  }
  
nav li {
    float: left; 
    color: #EFF1F7;
  }
  
nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.3s ease;
  }
  
nav li .tooltip {
  position: absolute;
  top: 45px;
  padding: 10px;
  text-align: center;
  visibility: hidden;
  }

nav li .tooltipright {
  position: absolute;
  top: 45px;
  right: 50px;
  padding: 10px;
  text-align: center;
  visibility: hidden;
  }
nav li a:hover .tooltip{
    visibility: visible;
    background-color: #343A40;
    color: #EFF1F7;
  }

nav li a:hover .tooltipright{
  visibility: visible;
  background-color: #343A40;
  color: #EFF1F7;
  }

nav li a:hover:not(.active) {
  display: block;
  background-color: #343A40;
  color: #EFF1F7;
  }


nav .active {
    background-color: #00A7E1;
    color: #EFF1F7;
  }


/*Table*/

.tool_table ul {
  list-style-type: none;
  margin-right: 50px;
  overflow: hidden;
}

.tool_table ul a {
display: block;
text-align: left;
text-decoration: none;
transition: all 0.3s ease;
padding-left: 50px;
padding-right: 50px;
padding-top: 15px;
padding-bottom: 15px;
background-color: #EFF1F7;
color:#002539;
font-family: Verdana, Tahoma, sans-serif;
}

.tool_table ul .tooltip {
position: absolute;
left: 200px;
margin-left: 50px;
padding-left: 100px;
margin-right: 50px;
text-align: left;
visibility: hidden;
}

.tool_table ul a:hover {
  background-color: #343A40;
  color: #EFF1F7;
  margin-right: 10px;
  }

.tool_table ul a:hover .tooltip{
visibility: visible;
color: #343A40;
}

.tool_table ul a:hover:not(.active) {
display: block;
background-color: #343A40;
color: #EFF1F7;
}






.splash {
    background-color: #002539; 
  }

/*Parallax*/
.parallax-1 {
  width: 100%;
  height: 400px;
  background: url("/static/graphics/ai-generated-g86f790be6_1280.987a6e71ca18.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.parallax-1 h2 {
  margin: auto;
  position: relative;
  left: 50px;
  top: 200px;
  width: 250px;
  height: 32px;
  background-color:#002539;
  color:#EFF1F7;
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
}

.parallax-2 {
  width: 100%;
  height: 400px;
  background: url("/static/graphics/ai-generated-g10f2ab92c_1280.cc3fce554269.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.parallax-2 h2 {
  margin: auto;
  position: relative;
  left: 50px;
  top: 200px;
  width: 250px;
  height: 32px;
  background-color:#002539;
  color:#EFF1F7;
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
}

.parallax-3 {
  width: 100%;
  height: 400px;
  background: url("/static/graphics/technology-ga8b4467a6_1280.150cbadd0942.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.parallax-3 h2 {
  margin: auto;
  position: relative;
  left: 50px;
  top: 200px;
  width: 250px;
  height: 32px;
  background-color:#002539;
  color:#EFF1F7;
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
}


.para-1 {
  padding: 50px;
  background-color: #EFF1F7;
  color:#002539;
  font-family: Verdana, Tahoma, sans-serif;
}


/*Design Elements*/

hr.opt1 {
    border: 1px solid #002539;  
  }

img {
  max-width: 250px;
  height: auto;
}

/*Div*/
div a{
  color: #002539;
  text-decoration: none;
}

div a:hover{
  font:#0086B4;
}

div a:not([href]):not([class]),a:not([href]):not([class]):hover{
  color:inherit;
  text-decoration: none;
}


/*Blog Format*/

.blog_list {
  margin-left: 20%;
  margin-right: 20%;
}

.blog_card {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #343A40;
}